.sulom{   
    margin-top:30px;
    padding-left:20px;
}
.separa{
    border-left: 6px solid lightseagreen;
    background-color: lightblue;
    margin-top:10px;
}
.escriu{
    display: none;
}
.separa2{
    margin-top:10px;
}